h1 {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    background-color: rgb(219, 248, 255);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-bottom: 5px;
}

#customer-wrapper, #exercise-wrapper, #workout-wrapper {
    width: auto;
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

#customer-div, #exercise-div, #workout-div {
}
